DB_URL=jdbc:mysql://localhost:3306/dublin_service?useSSL=false&serverTimezone=UTC&createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=change-me
JCDECAUX_API_KEY=change-me
OPENWEATHER_API_KEY=change-me
GOOGLE_MAPS_API_KEY=change-me
